{{define "footer"}}

<!-- Main Footer -->
<footer class="main-footer">
    <strong>Copyright &copy; 2020 <a href="https://mensaah.live">Mmadu Manasseh</a>.</strong>
    All rights reserved.
    <div class="float-right d-none d-sm-inline-block">
        <b>Version</b> 1.0.0
    </div>
</footer>
<!-- Control Sidebar -->
<aside class="control-sidebar control-sidebar-dark">
<!-- Control sidebar content goes here -->
</aside>
<!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->

<!-- REQUIRED SCRIPTS -->

<!-- jQuery -->
<script src="/static/js/jquery.min.js"></script>
<!-- Bootstrap -->
<script src="/static/js/bootstrap.bundle.min.js"></script>
<!-- AdminLTE -->
<script src="/static/js/adminlte.min.js"></script>

<!-- OPTIONAL SCRIPTS -->
<script src="/static/js/Chart.min.js"></script>
<script src="/static/js/demo.js"></script>
</body>
</html>
{{end}}